.child-login-form{
    display: grid;
}
#child-login-email,#child-login-password{
    border-radius: 5px;
    padding:5px;
    margin-bottom: 7px;
    border : 2px solid #585858;
    box-shadow: none;
    height:35px;
    width:250px;
}
#child-login-proceed{
    border-radius: 5px;
    padding:5px;
    height:30px;
    border : 2px solid #585858;
    box-shadow: none;
    font-size: 16px;
    line-height: 1;
    color:#666;
    cursor:pointer;
    background-color: #3EA472;
    color:#fff;
    transition: background-color 100ms ease-out 100ms, color 100ms ease-out 100ms
}   
#child-login-proceed:hover{
    background-color: #fff;
    color: #3EA472;
}
#child-login-email:focus,#child-login-password:focus{
    outline:none;
}